.header_wrap {

    display: flex;
    justify-content: space-between;
    padding: 50px 80px 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99999;
    max-width: 1500px;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu_sec,
.account_sec,
.logo_sec {
    display: flex;
    gap: 30px;
    font-size: 12px;
    height: 50px;
    align-items: center;
    flex: 1.5;
}

.account_sec {
    justify-content: right;
}

.logo_sec {
    width: 200px;
    flex: 1;
    justify-content: center;
}

.logo_sec>li>a>img {
    width: 100%;
}

.container {
    height: 1500px;
}

.menu_sec li,
.account_sec li {
    position: relative;
    white-space: nowrap;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sub_menu {
    position: absolute;
    left: -10px;
    top: 40px;
    display: none;
    padding-top: 30px;
    line-height: 30px;
    padding: 10px 10px;
}

.sub_menu ul li {
    height: 30px;
}

.on {
    display: block;
}




.overwrap {
    position: fixed;
    width: 100%;
    height: calc(100vh);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s;
    display: none;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
}

.menu_sec li:hover .sub_menu {
    display: block;
}

footer {
    margin: 100px auto 0;
    font-size: 12px;
    display: flex;
    padding: 120px 80px 20px;
    max-width: 1500px;
    clear: both;
}

footer div ul li {
    padding-bottom: 5px;
}

.footer1 {
    flex: 1;
}

.footer2 {
    flex: 1;
}

.footer3 {
    flex: 2;
    text-align: right;
}

.burger_box {
    display: none;
}

.phone_menu {
    display: none;
    /* box-shadow: 9px 1px 70px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 1px 70px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 1px 70px -8px rgba(0, 0, 0, 0.75); */
}

@media screen and (max-width: 1000px) {
    .account_sec {
        display: none;
    }

    .phone_menu {
        display: block;
    }

    .header_wrap {
        align-items: center;
    }

    .menu_sec {
        display: none;
    }

    .burger_box {
        display: block;
        width: 30px;
        height: 30px;
        /* background-color: aqua; */
    }

    .empty_box {
        width: 30px;
        height: 30px;
        /* background-color: aqua; */
    }

    .line {
        border: 0.5px solid black;
        margin: 6px 0;
    }

    .phone_menu {
        width: 50%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999999;
        padding: 100px 20px;
        font-size: 14px;
        box-sizing: border-box;
        background-color: white;
        transform: translate(-100%, 0);
        transition: transform 0.3s;
    }

    .phone_store>.phone_store_title {
        font-weight: 700;
        margin: 0 0 30px;
    }

    .phone_store>div {
        margin: 0 0 10px;
    }

    .phone_store {
        margin: 0 0 300px;
    }

    .close_btn {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 9999999;
    }

    footer {
        flex-wrap: wrap;
        gap: 50px;
    }

    .footer1 {
        flex: content;
    }

    .footer2 {
        flex: content;
    }

    .footer3 {
        flex: content;
    }
}

@media screen and (max-width:700px) {
    .header_wrap {
        padding: 50px 20px 0;
    }

    footer {

        padding: 120px 20px 20px;

    }

    .logo_sec {
        width: 200px;
        flex: none;
    }
}

@media screen and (max-width:400px) {
    .burger_box {
        display: block;
        width: 20px;
        height: 20px;
        /* background-color: aqua; */
    }

    .line {
        border: 0.3px solid black;
        margin: 3px 0;
    }

    .phone_menu {
        width: 70%;
        font-size: 12px;
    }

    .logo_sec {
        width: 150px;
        flex: none;
    }

    footer {
        font-size: 10px;
        padding: 60px 20px 20px;
    }
}