.contain {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 180px 20px 0;
    position: relative;
    box-sizing: border-box;
}

.container_box {
    max-width: 1130px;
    margin: 0 auto;
}

.container_box::after {
    content: "";
    clear: both;
    display: block;
}

.left {
    display: inline-block;
    float: left;
    zoom: 1;
    /* display: inline; */
    vertical-align: top;
    width: calc(100% - 410px);
    margin-right: 20px;
    min-height: 100vh;
    /* height: 5000px; */
    background-color: bisque;
}

.left::after {
    content: "";
    clear: both;
    display: block;
}

.contain::after {
    content: "";
    clear: both;
    display: block;
}

/* .item_img_box {
    width: calc(100% - 410px);
    height: 5000px;
    background-color: aquamarine;
    min-height: 100vh;
} */

.right {
    display: inline-block;
    float: left;
    width: 390px;
    vertical-align: top;
    /* height: 100%; */
}

.right::after {
    content: "";
    clear: both;
    display: block;
}

.item_desc_box {
    top: 180px;
    width: 390px;
    height: 600px;
}

.price_sec {
    margin-bottom: 50px;
}

.price_sec>div {
    margin-bottom: 5px;
}

.title {
    font-size: 20px;
}

.o_price {
    font-size: 14px;
    text-decoration: line-through;
}

.s_price {
    font-size: 14px;
    font-weight: 900;
}

.button_sec {
    margin: 0 0 30px 0;
}

.buy_btn,
.cart_btn {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.buy_btn {
    background-color: black;
    color: white;
}

.cart_btn {
    border: 1px solid black;
    box-sizing: border-box;
}

.info_tab_box {
    display: flex;
    font-size: 12px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    color: grey;
}

.tab:nth-child(1) {
    color: black;
    font-weight: 700;
}

.info_tab_box>div {
    /* width: calc(100% / 4); */
    text-align: center;
    padding: 0 10px 0 0;
    margin: 0 0 10px 0;
}

.info_desc_box {
    font-size: 14px;
    width: 100%;
    position: relative;
}

.info_desc_box>div {
    position: absolute;
    /* background-color: white; */
    width: 100%;
    height: 300px;
}

.pan {
    display: none;
}



.instruction_title {
    font-size: 14px;
    margin: 0 0 10px 0;
}

.instruction_desc {
    list-style-type: disc;
    list-style-position: inside;
}

/* .instruction {
    background-color: red;
}

.sizeguide {
    background-color: orange;
}

.shipping {
    background-color: greenyellow;
}

.caution {
    background-color: paleturquoise;
} */

.active {
    display: block;
}

.sizeguide {
    font-size: 12px;
}

tr {
    display: inline-block;
    width: 100%;
}

th {
    width: 100px;
    text-align: left;
}

td {
    width: 100px;
    /* text-align: center; */
}

.shipping {
    font-size: 12px
}

.ship_title,
.return_title {
    text-decoration: underline;
    margin: 0 0 10px;
    font-weight: 700;
}

.ship_desc,
.return_desc {
    margin: 0 0 30px;
}

.caution {
    font-size: 12px;
}

.caution>div,
.caution>ul {
    margin-bottom: 20px;
}

.caution>ul>li {
    list-style-type: disc;
    list-style-position: inside;
}

.key_box,
.val_box {
    font-size: 14px;
}

.key_box>div,
.val_box>div {
    height: 35px;
    display: flex;
    align-items: center;
}

.option_sec {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.val_color,
.val_size {
    display: flex;
    gap: 5px;
    justify-content: right;
}

.val_color>div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
}

.val_size>div {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt_qty {
    width: 50px;
    text-align: center;
    border: none;
}

.chk_item_order {
    display: none;
}

.sel_color_box {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    font-size: 14px;
}

.btn_qty {
    background-color: white;
    border: none;
}

.btn_price_delete {
    margin: 7px 5px;
    vertical-align: middle;
}

.item_img_box {
    display: flex;
    flex-direction: column;

}

.itme_img_box img {
    width: 100%;
}