.contain {
    padding: 180px 20px 50px 20px;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.contain_wrap {
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
}

.product_title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 900;
}

.contain_img_box {
    width: 100%;
    height: 500px;
    background-color: azure;
    position: relative;
}

.contain_img1,
.contain_img2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain_img1>img,
.contain_img2>img {
    width: 100%;

}

.contain_img1 {
    /* background-color: burlywood; */
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 99;
}

.contain_img2 {
    /* background-color: cadetblue; */
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
}

.contain_img_box:hover .contain_img1 {
    opacity: 0;
    z-index: 9;
}

.contain_txt_box {
    font-size: 14px;
}

.contain_img_box:hover .contain_img2 {
    opacity: 1;
    z-index: 99;
}

.contain_box {
    width: calc((100% - 200px)/3);
    height: 600px;
    margin: 0 100px 50px 0;
    overflow: hidden;
}

.contain_box:nth-child(3n) {
    margin: 0 0 50px 0;
}

.contain_box {
    /* width: 100%; */
    cursor: pointer;
    /* background-color: antiquewhite; */

}



.contain_txt_box {
    display: flex;
    justify-content: space-between;
    height: 50px;
    transition: all 0.5s;
    margin-top: 10px;
    opacity: 0;
}